<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.769918667547-hkkh5ra2fdc62hj4sjnachtf6uuoihum</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string> com.austinzambitovalente.oasis</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-769918667547-ios-3afdf89a6c28b56942a1be</string>
				<string>OASIS</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow OASIS to access your calendar to directly add festivals and events.</string>
    <key>NSContactsUsageDescription</key>
    <string>OASIS uses your contacts to help you find friends who already use the app.</string>
</dict>
</plist>
